nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.heading {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-link {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-link li {
    list-style: none;
}

.nav-link a {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
    padding: 14px 16px;
}